* {
            margin: 0;
            padding: 0;
        }
        .navbar h2 {
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: 600;
            font-style: oblique;
        }
        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 1.2rem;
        }
        .heart {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
        }
        .heart i {
            color: red;
        }
        .navbar ol {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }
        .navbar ol li {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            cursor: pointer;
            transition: all 0.4s;
        }
        .navbar ol li:hover {
            color: royalblue;
        }
        .grid-container {
            display: grid;
            grid-template-columns: auto auto;
            gap: 0.5rem;
            grid-template-rows: auto;
            width: auto;
            padding: 1rem;
            justify-content: space-around;
            height: auto;
        }
        .grid-container .qns {
            padding: 10px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
            transition: all 0.4s;
        }
        .answers {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            gap: 0.6rem;
        }
        .answers .ans {
            padding: 20px;
            height: 25px;
            width: 25px;
            text-align: center;
            align-content: center;
            /* background-color: royalblue; */
            font-size: 1.2rem;
            border: 2px solid white;
            box-shadow: 0px 0px 5px #333;
            border-radius: 4px;
            color: wheat;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: bolder;
            cursor: pointer;
            transition: all 0.4s;
        }
        .grid-container .qns p {
            font-size: 1.8rem;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .cole {
            display: grid;
            grid-template-columns: auto auto auto auto;
            padding: 15px;
            align-items: end;
            gap: 20px;
            /* height: 90%; */
            transition: all 0.4s;
        }
        .cole div {
            padding: 20px;
            background-color: royalblue;
            font-size: 2rem;
            border: 1px solid white;
            box-shadow: 0px 0px 5px #333;
            border-radius: 4px;
            color: wheat;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: bolder;
            cursor: pointer;
            text-align: center;
            align-content: center;
            height: 100px;
            width: 100px;
        }
        .add-color {
            background-color: royalblue;
        }
        .error {
            animation: error 0.4s linear 3 normal;
        }
        @keyframes error {
            0% { transform: translateX(-5px); }
            50% { transform: translateX(0px); }
            100% { transform: translateX(5px); }
        }
    @media (max-width: 1024px) {

    .grid-container {
        grid-template-columns: 1fr;   /* stack vertically */
        gap: 1.5rem;
    }

    .cole {
        grid-template-columns: repeat(4, 50px);
        justify-content: center;
    }

    .cole div {
        height: 80px;
        width: 80px;
        font-size: 1.5rem;
    }

    .answers .ans {
        height: 22px;
        width: 22px;
        padding: 15px;
    }

    .grid-container .qns p {
        font-size: 1.5rem;
        text-align: center;
    }
}
    @media (max-width: 768px) {
    .msg {
        width: 280px;
    }
    .msg p {
        font-size: 0.4rem;
    }
    .navbar {
        flex-direction: column;
        gap: 1.5rem;
    }

    .navbar ol {
        gap: 1rem;
    }

    .grid-container {
        padding: 1rem;
        /* gap: 1.7rem; */
        width: auto;
        height: 90vh;
        justify-content: space-evenly;
        place-items: center;
    }

    .cole {
       /* display: grid;
       grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
       gap: 15px;
       position: relative;
       bottom: 0; */
       display: grid;
       grid-template-columns: repeat(4, auto);
       grid-template-rows: repeat(3,auto);
       gap: 15px;
       width: 80%;
  }

    .cole div {
        height: auto;
        width: auto;
        padding: 1.3rem;
        font-size: 1.4rem;
    }

    .answers {
        flex-wrap: wrap;
    }

    .answers .ans {
        height: 20px;
        width: 20px;
        padding: 12px;
    }

    .grid-container .qns p {
        font-size: 1.5rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}
@media (min-width: 1441px) {
    .grid-container {
        grid-template-columns: repeat(2,auto);
        gap: 5rem;
    }
    .navbar {
        grid-column: span 2;
    }
}

.left {
    animation: left 0.5s linear 1 normal;
}

.right {
    animation: right 0.5s linear 1 normal;
}

@keyframes right {
    from {
        transform: translateX(0px);
        opacity: 1;
    } to {
        transform: translateX(100px);
        opacity: 0;
    }
}

@keyframes left {
    from {
        transform: translateX(0px);
        opacity: 1;
    } to {
        transform: translateX(-100px);
        opacity: 0;
    }
}
.hint {
    height: 100vh;
    width: 100%;
    background-color: rgb(51, 51, 51,0.4);
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: none;
    z-index: 999;
}
.msg {
    height: 350px;
    width: 300px;
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    animation: pop 0.5s linear 1 normal;
    cursor: pointer;
}
@keyframes pop {
    from { transform: scale(0.9); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}
.msg p {
    font-size: 2rem;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
}
.close {
    font-size: 1.2rem;
    background-color: white;
    color: royalblue;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    padding: 0.4rem;
    cursor: pointer;
    margin: 12px;
    transition: all 0.4s;
}
.close:hover {
    color: blue;
}

